/* styles.css */

/* Các quy tắc cho form */
.form_user_profile {
   /* Khoảng cách từ lề */
    /* padding: 20px; Khoảng cách bên trong */
    /* Viền */
   width: 800px;
   height: 300px;
   
 
 } 

/* Các quy tắc cho thông tin người dùng */
 .name {
    display: block; /* Hiển thị mỗi dòng */
    margin-bottom: 8px; /* Khoảng cách giữa các dòng */
    color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 200px;
    margin-top: -100px;
    
}
